-#  Copyright (c) 2012-2021, German Contingent for the Worldscoutjamboree 2023. This file is part of
-#  hitobito_wsjrdp_2023 and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_wsjrdp_2023.

%h4
  = t('activerecord.attributes.person.medicine_header') 
= t('activerecord.attributes.person.medicine_info')
%br 
%br 
= f.labeled_input_fields  :medicine_vaccination,
                          :medicine_stiko_vaccination,
                          :medicine_preexisting_conditions,
                          :medicine_abnormalities,
                          :medicine_allergies,
                          :medicine_eating_disorders,
                          :medicine_mobility_needs,
                          :medicine_infectious_diseases,
                          :medicine_medical_treatment_contact,
                          :medicine_continous_medication,
                          :medicine_needs_medication,
                          :medicine_medications_self_treatment, 
                          :medicine_other, 
                          :medicine_important, 
                          :medicine_support 