%ul.nav.nav-tabs
  %li.active= link_to(t('.general'), '#general', data: { toggle: 'tab' })
  %li= link_to(t('.additional_contact'), '#additional_contact', data: { toggle: 'tab' })
  %li= link_to(t('.rdp_association'), '#association', data: { toggle: 'tab' })
  %li= link_to(t('.finance'), '#finance', data: { toggle: 'tab' })
