.logo-image {
	display: block;
	position: relative;
	text-indent: -9999px;
	background: url("https://test.worldscoutjamboree.de/app/uploads/2021/04/logo-final.jpg") transparent no-repeat;
	width: 90px;
	height: 90px;
	background-size: contain;
	background-position: 50% 55%;
	border-radius: 6px;
	margin-left: -10px;
	margin-top: -15px;
}