.logo-image {
	display: block;
	position: relative;
	text-indent: -9999px;
	background: url("../../../images/jamb-logo.png") transparent no-repeat;
	width: 90px;
	height: 90px;
	background-size: contain;
	background-position: 50% 55%;
	border-radius: 6px;
	margin-left: -10px;
	margin-top: -30px;
}

.breadcrumb ul li {
  text-shadow: 0px 0px #733D8B;
  color: #733D8B;
}

.dropdown-menu{ 
  background-color: #76A5D7;
}
#page-footer {
  margin-top: 0px;
}

.sheet.parent .level {
  color: white;
}

.level + .nav-sub a {
  color: #ffffff73;
}

#page-header > a {
  color: #76A5D7;
}

#page {
  background: url("../../../images/trees.png") white no-repeat;
  background-size: 15%;
  background-position: 0% 100%;
}

.is-logged-out #page-header a {
  color: #76A5D7;
}