%p Hallo #{@resource.mail_name},

%p wir haben deine Anmeldung als #{@resource.role_wish} für das deutsche Kontingent zum World Scout Jamboree 2023 in Südkoreaorea überprüft.

%p Deine Anmeldung ist vollständig. Vielen Dank!

%p Jetzt brauchst du noch etwas Geduld. Eine Bestätigung deiner Teilnahme erhältst du im November, nach Anmeldeschluss. 
- if @resource.role_wish == "Teilnehmende*r" || @resource.role_wish == "Unit Leitung"
  %p Erst dann können wir dich final deiner Unit zuteilen. 

- if @resource.role_wish == "Unit Leitung"
  %p Als Unit Leitung findest du jetzt in deinem Profil unter "Kontaktdaten" neun "Unit Tags". Du kannst jeden "Unit Tag" genau einem Teilnehmenden geben. Die*Der Teilnehmer*in wird dir dann zugeordnet. Mehr dazu findest du in unseren #{link_to "FAQs", "https://www.worldscoutjamboree.de/faq-anmeldung/"}

%p Wir freuen uns auf dich!
%p Deine Kontingentsleitung