%p Hallo #{@resource.first_name},

%p wir haben deine Anmeldung als #{@resource.role_wish} für das deutsche Kontingent zum World Scout Jamboree 2023 in Südkoreaorea überprüft.

%p Deine Anmeldung ist vollständig. Vielen Dank!

%p Jetzt brauchst du noch etwas Geduld. Eine Bestätigung deiner Teilnahme erhältst du im November, nach Anmeldeschluss, da wir dich erst dann final deiner Gruppe zuteilen können. 

%p Wir freuen uns auf dich!
%p Deine Kontingentsleitung