%p Hallo #{@resource.mail_name},

%p du hast alle Dokumente, die wir für deine Anmeldung als #{@resource.role_wish} benötigen hochgeladen.

%p Vielen Dank!

%p In den nächsten Wochen werden wir die Dokumente kontrollieren und dir dann die Vollständigkeit deiner Anmeldung bestätigen.

%p Falls es Probleme bei der Anmeldung gibt, wird dich ein Kontingentsteammitglied seperat kontaktieren.

%p Wir freuen uns auf dich!
%p Deine Kontingentsleitung