%p Hallo #{@resource.mail_name},

%p du hast alle Dokumente, die wir für deine Anmeldung als #{@resource.role_wish} benötigen hochgeladen.

%p Vielen Dank!

%p Da der Anmeldeschluss schon vorbei ist, gibt es aktuell nur eine sehr kleine Chance, dass du noch teilnehmen kannst.

%p Wir prüfen in den nächsten Tagen, ob du nachrücken kannst.

%p Vielen Dank für dein Verständnis!
%p Deine Kontingentsleitung
