- if @person.generated_registration_pdf.present?
  = action_button(t('activerecord.button.show_registration_generated'),
                  '/groups/' + params[:group_id] + '/people/'+ params[:id] + '/upload/show_registration_generated',
                  :envelope,
                  remote: false,
                  method: :get,
                  rel: :tooltip,
                  title: t('activerecord.button.review_hint'))