= action_button(t('activerecord.button.l_review'),
                '/groups/' + params[:group_id] + '/people/'+ params[:id] + '/check/' + params[:url] + "/l_review/",
                :envelope,
                remote: false,
                method: :get,
                rel: :tooltip,
                title: t('activerecord.button.status_hint'))
