= render 'layouts/languages'
%a= link_to t('activerecord.button.register'), '/registration'
%a= link_to t('devise.sessions.new.sign_in'), new_person_session_path
%a= link_to t('.forgot_password'), new_person_password_path